In [31]:
import pandas as pd
df=pd.read_csv('zomato.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [35]:
df.drop(['url','address','phone','dish_liked','reviews_list','menu_item','location','rest_type','location','rest_type'],axis=1,inplace=True)

In [37]:
df=df.rename(columns=({'name':'restaurant_name','rate':'rating','approx_cost(for two people)':'cost per person','listed_in(city)':'city','listed_in(type)':'restaurant_type'}))

In [47]:
df=df.dropna(subset=(['cuisines','cost per person']))

In [57]:
df=df.drop_duplicates()

In [65]:
df['rating']=df['rating'].astype(str)

In [71]:
df['rating']=df['rating'].str.replace('/5','')

In [91]:
df['rating']=df['rating'].str.replace('NEW','nan')

In [123]:
df['rating']=df['rating'].str.replace('-','nan')

In [125]:
df['rating']=df['rating'].astype(float)

In [141]:
df['rating']=df['rating'].fillna(df['rating'].mean())

In [151]:
df['rating']=df['rating'].round(2)

In [183]:
df['cost per person']=df['cost per person'].astype(str)

In [185]:
df['cost per person']=df['cost per person'].str.replace(',','')

In [193]:
df['cost per person']=df['cost per person'].astype(int)

In [197]:
df['cost per person']=df['cost per person']/2

In [209]:
df['restaurant_name']=df['restaurant_name'].astype(str)
df['online_order']=df['online_order'].astype(str)
df['book_table']=df['book_table'].astype(str)
df['cuisines']=df['cuisines'].astype(str)
df['restaurant_type']=df['restaurant_type'].astype(str)
df['city']=df['city'].astype(str)

In [213]:
df.to_csv('zomato_clean_data.csv',index=False)